  html {
    scroll-behavior: smooth;
  }

.pointer-events-none {
  pointer-events: none;
}

@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .container {
    width: 100%;
    padding: 0 15px;
  }
}


img, video, iframe {
  max-width: 100%;
  height: auto;
}

body, html {
  overflow-x: hidden;
}

